body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./images/gradient-background.png");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: #2C2C34;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  transition: top 0.3s;
  z-index: 1;
}

a {
  color: #2C2C34;
}

h1 {
  font-size: 8rem;
  margin: 0;
  padding-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
  padding-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1.1rem;
  padding-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

hr{
  border: 0;
  border-top: 1px solid #2C2C34;
  margin: 0;
  padding: 0;
  opacity: 25%;
}

.nav-link {
  padding: 1rem;
  text-decoration: none;
}

#header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 8rem;
  padding-right: 8rem;
}

.section-container {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

#skills-container {
  max-width: 30rem;
}

.skill {
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline-block;
  border-radius: 15px;
  border: 1px solid #ced1df;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

#projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  background-color: white;
  padding: 1.5rem;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  width: 43%;
  height: 300px;
  margin: 10px 0;
  transition: transform 0.5s;
}

.project-details {
  display: none;
  color: white;
  font-size: 1.5rem;
}

.project:hover {
  transform: scale(1.05);
  transition: all 1 ease;
  display: flex;
  align-items: center;
  text-align: center;
}
.project:hover .project-details {
  display: block;
}
#recipize:hover  {
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("../images/recipize.png");
}
#noodle:hover {
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("./images/noodle-site.png");
}

#recipize {
  background-image: url("./images/recipize.png");
  background-size: cover;
  background-position: center;
}

#noodle {
  background-image: url("./images/noodle-site.png");
  background-size: cover;
  background-position: center;
}

#linkedin-logo {
  width: 10%;
  height: 10%;
  padding-bottom: 1rem;
}

#contact {
  padding-bottom: 6rem;
  font-size: 1.5rem;
}

#source{
  text-align: center;
  padding-top: 6rem;
}