body{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/gradient-background.png");
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: #2C2C34;
}

nav{
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  transition: top 0.3s; 
}

a{
  color: #2C2C34;
}

h1{
  font-size: 8rem;
  margin: 0;
  padding-bottom: 2rem;
}

h2{
  font-size: 2rem;
  margin: 0;
  padding-bottom: 2rem;
}

h3{
  font-size: 2rem;
  margin: 0;
}

p{
  font-size: 1.1rem;
  padding-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.nav-link{
  padding: 1rem;
  text-decoration: none;
}

#header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 8rem;
  padding-right: 8rem;
}

.section-container{
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 10rem;
}

#skills-container{
  max-width: 30rem;
}

.skill{
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline-block;
  border-radius: 15px;
  border: 1px solid #ced1df;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

#projects-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-title{
  padding-top: 0;
  padding-bottom: 1rem;
  align-self: flex-start;
}

.project{
  background-color: white;
  padding: 1.5rem;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 2px 2px 20px rgb(0 0 0 / 25%);
  width: 43%;
  margin: 10px 0;
}

#recipize-item{
  width: 100%;
}

.project-item{
  max-width: 100%;
  max-height: 100%;
}

iframe{
  border: 0;
}

.scroll{
  max-height: 30rem;
  overflow: scroll;
}

#linkedin-logo{
  width: 10%;
  height: 10%;
  padding-bottom: 1rem;
}

#source-code-container{
  text-align: center;
  padding-bottom: 4rem;
  font-size: 1.5rem;
}