body{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/gradient-background.png");
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: #2C2C34;
}

nav{
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
}

a{
  padding: 1rem;
  text-decoration: none;
  color: #2C2C34;
}

h1{
  font-size: 8rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

h2{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

h3{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

p{
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

#header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 8rem;
  padding-right: 8rem;
}

.section-container{
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 10rem;
}

.skill{
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline-block;
  border-radius: 15px;
  border: 1px solid #ced1df;
  margin-right: 0.5rem;
}